<h1>热点影视</h1>
{% for movie in movie_post_list %}
<article class="post post-1">
    <header class="entry-header">
        <h1 class="entry-title">
            <a href="{{ movie.get_absolute_url }}">{{ movie.title }}</a>
        </h1>
        <div class="entry-meta">
            <span class="post-category"><a href="#">Django 博客教程</a></span>
            <span class="post-date"><a href="#"><time class="entry-date"
                        datetime="2012-11-09T23:15:57+00:00">2017年5月11日</time></a></span>
            <span class="post-author"><a href="#">追梦人物</a></span>
            <span class="comments-link"><a href="{{ movie.get_absolute_url }}#comment-area">xx 评论</a></span>
            <span class="views-count"><a href="{{ movie.get_absolute_url }}">{{ movie.views }} 阅读</a></span>
        </div>
    </header>
    <div class="entry-content clearfix">
        <p>{{ movie.excerpt }}...</p>
        <div class="read-more cl-effect-14">
            <a href="{{ movie.get_absolute_url }}" class="more-link">继续查看影视内容<span class="meta-nav">→</span></a>
        </div>
    </div>
</article>
{% empty %}
<div class="no-post">暂时还没有发布的文章！</div>
{% endfor %}