<h1>热点话题</h1>

{% for topic in topic_post_list %}
<article class="post post-1">
    <header class="entry-header">
        <h1 class="entry-title">
            <a href="{{ topic.get_absolute_url }}">{{ topic.title }}</a>
        </h1>
        <div class="entry-meta">
            
            <span class=""><a href="{{ topic.get_absolute_url }}"><time class="entry-date"
                        datetime="{{ topic.created_time}}">创建时间：{{ topic.created_time}}</time></a></span>

        </div>
    </header>
    <div class="entry-content clearfix">
        <p>{{ topic.excerpt }}...</p>
        <div class="read-more cl-effect-14">
            <a href="{{ topic.get_absolute_url }}" class="more-link">进入话题<span class="meta-nav">→</span></a>
        </div>
    </div>
</article>
{% empty %}
<div class="no-post">暂时没有话题！</div>
{% endfor %}