{% load reports_extras %}
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">热门书评</h3>
  </div>
  <div class="panel-body">
    <ul class="comment-list list-unstyled">
      {% for comment in comment_list %}
      <article>
        <li class="comment-item">
          <span class="nickname">{{ comment.title }}</span>
          <span class="nickname">{{ comment.name }}</span>
          <time class="submit-date" datetime="{{ comment.created_time }}"> {{ comment.created_time }} </time>
          <div class="text">
            {{ comment.text|safe|linebreaks }}
          </div>
        </li>
      </article>
      {% empty %}
      暂无评论
      {% endfor %}
    </ul>
  </div>
</div>