{% load reports_extras %}
<h3>评论列表，共 <span>{{ comment_count }}</span> 条评论 </h3>
<ul class="comment-list list-unstyled">
  {% for comment in comment_list %}
  <article>
    <li class="comment-item">
      <span class="nickname">{{ comment.title }}</span>
      <span class="nickname">{{ comment.name }}</span>
      <time class="submit-date" datetime="{{ comment.created_time }}"> {{ comment.created_time }} </time>
      <div class="text">
        {{ comment.text|safe|linebreaks }}
      </div>
      <div>
        <a class="collect2" href="javascript:" content_id2="{{ comment.id }}">
          <button class="btn btn-info"><i class="fa fa-thumbs-up"></i>{{ article.poll_num }} 点赞
            ({{ comment.like_num }})</button>
        </a>
        <a class="collect3" href="javascript:" content_id3="{{ comment.id }}">
          <button class="btn btn-info"><i class="fa fa-thumbs-down"></i>{{ article.poll_num }} 反对
            ({{ comment.dislike_num }})</button>
        </a>
        {% show_report_form comment %}
      </div>
    </li>
  </article>
  {% empty %}
  暂无评论
  {% endfor %}
</ul>