<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
</head>
<body>
    <div style="margin: 15% 40%;">
        <h1>欢迎登录！</h1>
        <a href="{% url 'forum:index' %}">index</a>
        <from action="" method="POST">
            {% csrf_token %}
            <p>
                <label for="用户名">用户名：</label>
                <input type="text" id="用户名" name="用户名" placeholder="用户名">
            </p>
            <p>
                <label for="密码">密码：</label>
                <input type="password" id="密码" name="密码" placeholder="密码">
            </p>


            <button type="submit">提交</button>
        </from>
    </div>
</body>
</html>

