{% extends 'base.html' %}
{% load static %}
{% load ratings %}
{% block main %}
{% for book in books_list %}
<article class="post post-1">
    <header class="entry-header">
        <h1 class="entry-title">
            <a href="{{ book.get_absolute_url }}">{{ book.title }}</a>
        </h1>
        <div class="entry-meta">
            <span class="post-category"><a href="{{ book.get_absolute_url }}">{{ book.category.name}}</a></span>
            <span class="post-date"><a href="{{ book.get_absolute_url }}"><time class="entry-date"
                        datetime="{{ book.created_time}}">{{ book.created_time}}</time></a></span>
            <span class="post-author"><a href="{{ book.get_absolute_url }}">{{ book.author }}</a></span>
            <span class="comments-link"><a href="{{ book.get_absolute_url }}#comment-area">{{ book.comment_set.count }} 评论</a></span>
            <span class="views-count"><a href="{{ book.get_absolute_url }}">{{ book.views }} 阅读</a></span>
        </div>
    </header>
    <div class="entry-content clearfix">
        <p>{{ book.excerpt }}...</p>
        <div class="read-more cl-effect-14">
            <a href="{{ book.get_absolute_url }}" class="more-link">继续查看图书内容<span class="meta-nav">→</span></a>
        </div>
    </div>
</article>
{% empty %}
<div class="no-post">暂时没有书籍！</div>
{% endfor %}


{% endblock main %}


{% block search %}
<div id="header-search-box">
    <a id="search-menu" href="#"><span id="search-icon" class="ion-ios-search-strong"></span></a>
    <div id="search-form" class="search-form">
        <form role="search" method="get" id="searchform" action="{% url 'forum:book_search' %}">
            <input type="search" name="q" placeholder="搜索书籍" required>
            <button type="submit"><span class="ion-ios-search-strong"></span></button>
        </form>
    </div>
</div>
{% endblock search %}
