{% extends 'base.html' %}
{% load static %}

{% block main %}
{% for post in movies_list %}
<article class="post post-1">
    <header class="entry-header">
        <h1 class="entry-title">
            <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
        </h1>
        <div class="entry-meta">
            <span class="post-category"><a href="{{ post.get_absolute_url }}">{{ post.category.name}}</a></span>
            <span class="post-date"><a href="{{ post.get_absolute_url }}"><time class="entry-date"
                        datetime="{{ post.created_time}}">{{ post.created_time}}</time></a></span>
            <span class="post-author"><a href="{{ post.get_absolute_url }}">{{ post.author }}</a></span>
            <span class="comments-link"><a href="{{ post.get_absolute_url }}#comment-area">{{ post.comment_set.count }} 评论</a></span>
            <span class="views-count"><a href="{{ post.get_absolute_url }}">{{ post.views }} 阅读</a></span>
        </div>
    </header>
    <div class="entry-content clearfix">
        <p>{{ post.excerpt }}...</p>
        <div class="read-more cl-effect-14">
            <a href="{{ post.get_absolute_url }}" class="more-link">继续查看影视内容<span class="meta-nav">→</span></a>
        </div>
    </div>
</article>
{% empty %}
<div class="no-post">暂时没有影视！</div>
{% endfor %}

{% endblock main %}


{% block search %}
<div id="header-search-box">
    <a id="search-menu" href="#"><span id="search-icon" class="ion-ios-search-strong"></span></a>
    <div id="search-form" class="search-form">
        <form role="search" method="get" id="searchform" action="{% url 'forum:movie_search' %}">
            <input type="search" name="q" placeholder="搜索影视" required>
            <button type="submit"><span class="ion-ios-search-strong"></span></button>
        </form>
    </div>
</div>
{% endblock search %}
