{% extends 'base.html' %}
{% load movie_comments_extras %}
{% load movie_reports_extras %}
{% load ratings %}
{% block main %}
                <article class="movie_post movie_post-{{ movie_post.pk}}">
                    <header class="entry-header">
                        <h1 class="entry-title">{{ movie_post.title }}</h1>
                        <div class="entry-meta">
                            <span class="post-category"><a href="#">{{ movie_post.category.name}}</a></span>
                            <span class="post-date"><a href="#"><time class="entry-date"
                                                                      datetime="{{ movie_post.created_time}}">{{ post.created_time}}</time></a></span>
                            <span class="post-author"><a href="#">{{ movie_post.author }}</a></span>
                            <span class="comments-link"><a href="#comment-area">4 评论</a></span>
                            <span class="views-count"><a href="#">{{ movie_post.views }} 阅读</a></span>
                            {% ratings object %}
                        </div>
                    </header>
                    <div class="entry-content clearfix">
                        {{ movie_post.body|safe }}
                    {% if request.user.is_authenticated %}
                        <h3>发表评论</h3>
                        {% show_comment_form movie_post %}
                    {% endif %}
                    
                        <div class="comment-list-panel">
                            {% show_comments movie_post %}
                        </div>
                        
                    </div>

                </article>
                
{% endblock main %}
 
{% block toc %}
{% if movie_post.toc %}
<div class="widget widget-content">
    <h3 class="widget-title">目录</h3>
    <div class="toc">
        <ul>
            {{ movie_post.toc|safe }}
        </ul>
    </div>
</div>
{% endif %}
{% endblock toc %}
