{% extends 'base.html' %}
{% load static %}
{% load forum_extras %}
{% block main %}
<div style="background:rgb(212, 212, 212)">
    <br>
    <h1>&nbsp;&nbsp;&nbsp;&nbsp;搜索到的书籍相关内容</h1>
    <br>

    {% for post in book_post_list %}
    <article class="post post-1">
        <header class="entry-header">
            <h1 class="entry-title">
                <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
            </h1>
            <div class="entry-meta">
                <span class="post-category"><a href="{{ post.get_absolute_url }}">{{ post.category.name}}</a></span>
                <span class="post-date"><a href="{{ post.get_absolute_url }}"><time class="entry-date"
                            datetime="{{ post.created_time}}">{{ post.created_time}}</time></a></span>
                <span class="post-author"><a href="{{ post.get_absolute_url }}">{{ post.author }}</a></span>
                <span class="comments-link"><a
                        href="{{ post.get_absolute_url }}#comment-area">{{ post.comment_set.count }}
                        评论</a></span>
                <span class="views-count"><a href="{{ post.get_absolute_url }}">{{ post.views }} 阅读</a></span>
            </div>
        </header>
        <div class="entry-content clearfix">
            <p>{{ post.excerpt }}...</p>
            <div class="read-more cl-effect-14">
                <a href="{{ post.get_absolute_url }}" class="more-link">继续阅读 <span class="meta-nav">→</span></a>
            </div>
        </div>
    </article>
    {% empty %}
    <div class="no-post">没有相关结果！</div>
    {% endfor %}
</div>
<div style="background:rgb(212, 212, 212)">
    <br>
    <h1>&nbsp;&nbsp;&nbsp;&nbsp;搜索到的影视相关内容</h1>
    <br>
    {% for movie in movie_post_list %}
    <article class="post post-1">
        <header class="entry-header">
            <h1 class="entry-title">
                <a href="{{ movie.get_absolute_url }}">{{ movie.title }}</a>
            </h1>
            <div class="entry-meta">
                <span class="post-category"><a href="{{ movie.get_absolute_url }}">{{ movie.category.name}}</a></span>
                <span class="post-date"><a href="{{ movie.get_absolute_url }}"><time class="entry-date"
                            datetime="{{ movie.created_time}}">{{ movie.created_time}}</time></a></span>
                <span class="post-author"><a href="{{ movie.get_absolute_url }}">{{ movie.author }}</a></span>
                <span class="comments-link"><a href="{{ movie.get_absolute_url }}">{{ movie.comment_set.count }}
                        评论</a></span>
                <span class="views-count"><a href="{{ movie.get_absolute_url }}">{{ movie.views }} 阅读</a></span>
            </div>
        </header>
        <div class="entry-content clearfix">
            <p>{{ movie.excerpt }}...</p>
            <div class="read-more cl-effect-14">
                <a href="{{ movie.get_absolute_url }}" class="more-link">继续查看影视内容<span class="meta-nav">→</span></a>
            </div>
        </div>
    </article>
    {% empty %}
    <div class="no-post">没有相关结果！</div>
    {% endfor %}
</div>
<div style="background:rgb(212, 212, 212)">
    <br>
    <h1>&nbsp;&nbsp;&nbsp;&nbsp;搜索到的相关小组</h1>
    <br>
    {% for group in groups_list %}
    <article class="post post-1">
        <header class="entry-header">
            <h1 class="entry-title">
                <a href="{{ group.get_absolute_url }}">{{ group.name }}</a>
            </h1>
            <div class="entry-meta">
                <h5>小组成员:
                    {% for mem in group.members.all%}
                    {{mem}}
                    {%endfor%}</h5>
                <span class="group-created_time"><a href="{{ group.get_absolute_url }}">创建时间:{{ group.created_time }}
                    </a></span>
            </div>
        </header>
        <div class="entry-content clearfix">
            <div class="read-more cl-effect-14">
                <a href="{{ group.get_absolute_url }}" class="more-link">查看小组<span class="meta-nav">→</span></a>
                <a href="{{group.pk}}" class="more-link" method="post" style="margin-right: 25px">加入小组</a>
                <a href="{{group.name}}" class="more-link" method="post" style="margin-right: 55px">申请管理员</a>

            </div>
        </div>
    </article>
    {% empty %}
    <div class="no-post">没有相关结果！</div>
    {% endfor %}
</div>
<div style="background:rgb(212, 212, 212)">
    <br>
    <h1>&nbsp;&nbsp;&nbsp;&nbsp;搜索到的话题相关内容</h1>
    <br>

    {% for topic in topic_post_list %}
    <article class="post post-1">
        <header class="entry-header">
            <h1 class="entry-title">
                <a href="{{ topic.get_absolute_url }}">{{ topic.title }}</a>
            </h1>
            <div class="entry-meta">
                <span class=""><a href="{{ topic.get_absolute_url }}"><time class="entry-date"
                            datetime="{{ topic.created_time}}">创建时间：{{ topic.created_time}}</time></a></span>
            </div>
        </header>
        <div class="entry-content clearfix">
            <p>{{ topic.excerpt }}...</p>
            <div class="read-more cl-effect-14">
                <a href="{{ topic.get_absolute_url }}" class="more-link">进入话题<span class="meta-nav">→</span></a>
            </div>
        </div>
    </article>
    {% empty %}
    <div class="no-post">没有相关结果！</div>
    {% endfor %}
    {% endblock main %}
</div>

{% block search %}
<div id="header-search-box">
    <a id="search-menu" href="#"><span id="search-icon" class="ion-ios-search-strong"></span></a>
    <div id="search-form" class="search-form">
        <form role="search" method="get" id="searchform" action="{% url 'forum:search' %}">
            <input type="search" name="q" placeholder="搜索" required>
            <button type="submit"><span class="ion-ios-search-strong"></span></button>
        </form>
    </div>
</div>
{% endblock search %}