{% extends 'base.html' %}
{% load topic_discuss_extras %}

{% block main %}
                <article class="topic_post topic_post-{{ topic_post.pk}}">
                    <header class="entry-header">
                        <h1 class="entry-title">{{ topic_post.title }}</h1>
                        <div class="entry-meta">
                            <span class="post-category"><a href="#">{{ topic_post.category.name}}</a></span>

                        </div>
                    </header>
                    {% if request.user.is_authenticated %}
                    <div class="entry-content clearfix">
                        {{ topic_post.body|safe }}
                        <div class="comment-list-panel">
                            {% show_comments topic_post %}
                        </div>
                        <h3>发表评论</h3>
                        {% show_comment_form topic_post %}
                    </div>
                    {% endif %}
                </article>
                
{% endblock main %}
 
{% block toc %}
{% if topic_post.toc %}
<div class="widget widget-content">
    <h3 class="widget-title">目录</h3>
    <div class="toc">
        <ul>
            {{ topic_post.toc|safe }}
        </ul>
    </div>
</div>
{% endif %}
{% endblock toc %}