{% extends 'base.html' %}
{% load topic_discuss_extras %}

{% block main %}
                <article class="topic_post topic_post-{{ topic_post.pk}}">
                    <header class="entry-header">
                        <h1 class="entry-title">{{ topic_post.title }}</h1>
                        <div class="entry-meta">
                            <span class="post-category"><a href="#">{{ topic_post.category.name}}</a></span>

                        </div>
                    </header>
                    <div class="entry-content clearfix">
                        {{ topic_post.body|safe }}
                        <h3>发表评论</h3>
                        {% show_comment_form topic_post %}
                        <div class="comment-list-panel">
                            {% show_comments topic_post %}
                        </div>
                    </div>
                </article>
                
{% endblock main %}
 
